<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ city_weather.city}} Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Actual Weather in {{ city_weather.city }}
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="box">
                <article class="columns">
                    <div class="column is-2">
                        <img class=" image is-64x64" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"
                            alt="Image">
                        <br> {{ city_weather.description }}
                    </div>

                    <div class="column is_half">
                        <p>
                            <span class="title">{{ city_weather.city }}</span>
                            <br>
                            <span class="subtitle">{{ city_weather.temperature }}° C
                                <br> Feel Real: {{ city_weather.feels_like }}° C
                            </span>
                            <br> Minimum temperature: {{ city_weather.temp_min }}° C
                            <br> Maximum temperature: {{ city_weather.temp_max }}° C

                            <!-- <br> {{ city_weather.description }} -->
                        </p>
                    </div>

                    <div class="column is_half">
                        <br>
                        <span class="subtitle">Humidity: {{ city_weather.humidity }} %</span><br>
                        <span class="subtitle">Pressure: {{ city_weather.pressure }} hPa</span><br>
                        <span class="subtitle ">Wind speed: {{ city_weather.wind_speed }} km/h</span>
                    </div>

                </article>
            </div>

            <div class="box">
                <span class="title"> Forecast</span>
                <br><br>
                <div class="columns">
                    {% for forecast in weekly_forecast %}
                    <div class="column is-2 box">
                        <span class="subtitle">
                            {{ forecast.utc_date}}
                        </span>
                        <img class=" image is-64x64" src="http://openweathermap.org/img/w/{{ forecast.icon }}.png">
                        <br>
                        At day {{ forecast.day_temperature}}° C
                        <br>
                        At Night {{ forecast.night_temperature }}° C
                        <br>
                        Humidity {{ forecast.humidity }}%
                        <br>
                        Pressure {{ forecast.pressure }}hPa
                    </div>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <br>
            <a href="{% url 'get_back' %}">
                <button class="button is-success">Get back</button>
            </a>
        </div>
    </section>
</body>

</html>